.App {
  text-align: center;
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
  min-height: 100vh;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 25vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
  text-decoration: none;
}

.ul-style {
  display: flex;
}

.li-style {
  list-style-type: none;
  width: 200px;
  padding: 5px;
  border: 1px solid gray;
}

.active-link-style {
  color: darkorange;
}

.button-style {
  padding: 5px;
  width: 200px;
  color: #09d3ac;
  background: #565656;
  font-size: 20px;
  cursor: pointer;
}

.button-style:disabled {
  background: #dddddd;
}

.active-button-style {
  padding: 5px;
  width: 200px;
  color: darkorange;
  background: #565656;
  font-size: 20px;
  cursor: pointer;
}
